<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Coin Details</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="container" *ngIf="coin">
    <ion-card style="padding: 10px">
      <img [src]="coin.image.large" />
      <ion-card-content style="text-align: center">
        <div
          style="display: flex; align-items: center; justify-content: center"
        >
          <ion-card style="padding: 10px; border-radius: 10px">
            <p style="color: gray">Name</p>
            <p style="font-weight: bold">{{ coin.name }}</p>
          </ion-card>
          <ion-card style="padding: 10px; border-radius: 10px">
            <p style="color: gray">Symbol</p>
            <p style="font-weight: bold">{{ coin.symbol }}</p>
          </ion-card>
          <ion-card style="padding: 10px; border-radius: 10px">
            <p style="color: gray">Price (USD)</p>
            <p style="font-weight: bold">
              {{ coin.market_data.current_price.usd | currency:'USD':'symbol' }}
            </p>
          </ion-card>
        </div>
        <p>{{ coin.description.en }}</p>
        <ion-button color="primary" shape="full" expand="block" (click)="addToFavourites()">Add To Favourites</ion-button>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
