<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Coin Details</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="container" *ngIf="coin">
    <ion-card>
      <img [src]="coin.image.large" />
      <ion-card-content style="text-align: center;">
        <div style="display: flex; align-items: center; justify-content: center;">
          <ion-card>
            <p style="color: gray">Name</p>
            <h1>{{ coin.name }}</h1>
          </ion-card>
          <ion-card>
            <p style="color: gray">Symbol</p>
            <h1>{{ coin.symbol }}</h1>
          </ion-card>
          <ion-card>
            <p style="color: gray">Price (USD)</p>
            <h1>
              {{ coin.market_data.current_price.usd | currency:'USD':'symbol' }}
            </h1>
          </ion-card>
        </div>
        <p>{{ coin.description.en }}</p>
        <button (click)="addToFavourites()">Add To Favourites</button>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
