<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Crypto Explorer </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Crypto Explorer</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <ion-card>
      <ion-card-header>
        <img src="../../../assets/crypto.jpg" />
      </ion-card-header>

      <ion-card-content>
        <input type="text" /><button>Search</button><br/>
        <button [routerLink]="['/coin-list']">View Coins</button><button [routerLink]="['/favourites-list']">Favourites List</button>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
