<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Crypto Explorer </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Crypto Explorer</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <ion-card class="mainCard">
      <ion-card-header>
        <img src="../../../assets/crypto.jpg" />
        <div style="margin: 10px 0">
          <form [formGroup]="searchForm" (ngSubmit)="searchCoin($event)">
            <ion-item>
              <ion-label position="floating">Coin Name</ion-label>
              <ion-input
                formControlName="searchTerm"
                type="text"
                required
              ></ion-input>
            </ion-item>
            <ion-row>
              <ion-col>
                <ion-button
                  type="submit"
                  color="primary"
                  shape="full"
                  expand="block"
                >
                  Search
                </ion-button>
              </ion-col>
            </ion-row>
          </form>
        </div>
      </ion-card-header>

      <ion-card-content class="mainCardContent">
        <br />
        <div>
          <ion-button color="primary" shape="full" expand="block" [routerLink]="['/coin-list']">
            View Coins
          </ion-button>
        </div>
        <div>
          <ion-button color="primary" shape="full" expand="block" [routerLink]="['/favourites-list']">
            Favourites List
          </ion-button>
        </div>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
